################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/ExampleCSharp.sln
/ExampleCSharpClient/bin/Debug/net6.0
/ExampleCSharpClient/obj
/ExampleCSharpLibrary/bin/Debug/net6.0
/ExampleCSharpLibrary/obj
